@model ManicOceanic.DOMAIN.Entities.Products.Category
@{
    ViewData["Title"] = "CategoryDelete";
}

<h1>Category deleted</h1>

<h4>@Model.Name</h4>

<p>@Model.Id</p>
<p>@Model.Description</p>

<a asp-area="" asp-controller="Admin" asp-action="Category" asp-route-id="" class="list-group-item list-group-item-action">Back to Manage categories</a>


