
<h2>Administration</h2>

<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <p class="list-group-item list-group-item-action active">
                Categories
            </p>
            <a href="#" class="list-group-item list-group-item-action">Add new category</a>
            <a href="#" class="list-group-item list-group-item-action">Delete a category</a>
            <a href="#" class="list-group-item list-group-item-action">Update a category</a>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="list-group">
            <p class="list-group-item list-group-item-action active">
                Products
            </p>
            <a href="#" class="list-group-item list-group-item-action">Add a new product</a>
            <a href="#" class="list-group-item list-group-item-action">Delete a product</a>
            <a href="#" class="list-group-item list-group-item-action">Update a product</a>
        </div>
    </div>
</div>
