
<h2>Administration</h2>

<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <p class="list-group-item list-group-item-action active">
                Categories
            </p>
            <a asp-area="" asp-controller="Admin" asp-action="Category" asp-route-id="" class="list-group-item list-group-item-action">Manage categories</a>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="list-group">
            <p class="list-group-item list-group-item-action active">
                Products
            </p>
            <a asp-area="" asp-controller="Admin" asp-action="ProductList" class="list-group-item list-group-item-action">Manage products</a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="list-group">
            <p class="list-group-item list-group-item-action active">
                Accounts
            </p>
            <a asp-controller="Accounts" asp-action="Index" class="list-group-item list-group-item-action">Manage accounts</a>
        </div>
    </div>
</div>
