@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi9hjhYdJJMCnmN957_R3utpDr26GXGnRWKZxqARWdIZmr5_rx" alt="Fish" width="500" height="333">
</div>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="#">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ4qk1TeglKMQ618iWoJp73fyxvJnG-jLukOJTV1xeY7ZrQTc9aA" class="card-img-top" alt="Fish">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img src="https://s7d2.scene7.com/is/image/PetSmart/1031529?$sclp-prd-main_large$" alt="Food">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img src="https://images-na.ssl-images-amazon.com/images/I/51GV%2BHvLEtL._SY300_QL70_.jpg" alt="Aquarium">
            </a>
        </div>
    </div>

</div>
@*<div class ="container">
        <div class="row" style="width: 18rem;">
            <a href="#">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ4qk1TeglKMQ618iWoJp73fyxvJnG-jLukOJTV1xeY7ZrQTc9aA" class="card-img-top" alt="Fish">
            </a>

            <a href="#">
                <img src="https://s7d2.scene7.com/is/image/PetSmart/1031529?$sclp-prd-main_large$" alt="Food">
            </a>

            <a href="#">
                <img src="https://images-na.ssl-images-amazon.com/images/I/51GV%2BHvLEtL._SY300_QL70_.jpg" alt="Aquarium">
            </a>

        </div>
    </div>*@
