
@{
    ViewData["Title"] = "FreshWaterFish";
}

<h1>Fresh Water Fish</h1>

<div class="container">
    <div class="row">

        <div class="col-sm">
            <a href="#">
                <img src="https://theaquarium.club/images/ropefish.jpg " class="img-fluid" alt="Rope Fish">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img src="https://theaquarium.club/images/090.jpg " class="img-fluid" alt="Chocolate Gourami">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img src="https://theaquarium.club/images/amazon-puffer.jpg "  class="img-fluid" alt="South American Puffer Fish">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img src= "https://theaquarium.club/images/black-ruby-bard-1068x620.jpg " class="img-fluid" alt="Black Ruby Barb">
            </a>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="#">
                <img src="https://www.fishkeepingworld.com/wp-content/uploads/2018/02/Oscar.jpg " class="img-fluid" alt="Oscar">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img src="https://www.fishkeepingworld.com/wp-content/uploads/2018/02/Black-Mollies-1.jpg " class="img-fluid" alt="Black Molly">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img src="https://www.fishkeepingworld.com/wp-content/uploads/2018/02/Discus.jpg " class="img-fluid" alt="Discus">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img src="https://i.pinimg.com/originals/73/59/82/735982cbc0f86d8e3d37e77e27628ea8.jpg" class="img-fluid" alt="Killifish">
            </a>
        </div>
    </div>
</div>