
@{
    ViewData["Title"] = "View";
}

<h2>Salt Water Fish</h2>



<div class="container">
    <div class="row">

        <div class="col-sm">
            <a href="#">
                <img src="https://theaquarium.club/images/clownfish1.jpg" class="img-fluid" alt="Clown Fish">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img src="https://theaquarium.club/images/yellow-box.jpg" class="img-fluid" alt="Box Fish">
            </a>
        </div>

        <div class="col-sm">
            <a href="#">
                <img src="https://theaquarium.club/images/anthia-bartlett-1.jpg " class="img-fluid" alt="Bartlett’s Anthias">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img src="https://theaquarium.club/images/3banded.jpg " class="img-fluid" alt="Three Banded Clownfish">
            </a>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">

        <div class="col-sm">
            <a href="#">
                <img src="https://theaquarium.club/images/cardinal-moth.jpg" class="img-fluid" alt="Cardinal Fish">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img src="https://snorkelaroundtheworld.com/wp-content/uploads/2015/05/parrotfish-keep-the-coral-alive-index.jpg" class="img-fluid"  alt="Parrot Fish">
            </a>
        </div>

        <div class="col-sm">
            <a href="#">
                <img src="https://theaquarium.club/images/hawk-fish.jpg" class="img-fluid"  alt="Hawkfish">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img src="https://theaquarium.club/images/003.jpg" class="img-fluid" alt="Pearly Jawfish">
            </a>
        </div>
    </div>
</div>



