<h1 class="text-center">Shopping cart</h1><br>

<div id="products"></div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Size</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>SubTotal</th>
        </tr>
        </thead>
        <tbody id="cart-list">

        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Total: </th>
            <th id="total"></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>VAT 25%: </th>
            <th id="vat"></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Shipping: </th>
            <th id="shipping"></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>To pay: </th>
            <th id="to-pay"></th>
        </tr>
        </tfoot>
    </table>
    <div class="buttons">
        <a class="btn btn-primary pull-right" href="index.html" role="button">Continue shopping</a>
        <a class="btn btn-success pull-right" href="checkout.html" role="button">Proceed to payment</a>
    </div>

</div>
