<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Freshwater Fish</h5>
                <p class="card-text">Checkout our freshwater fish!</p>
                <a asp-controller="Product" asp-action="FreshWaterFish"><img class="card-img-top" src="https://theaquarium.club/images/black-ruby-bard-1068x620.jpg " alt="Card image cap"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Saltwater Fish</h5>
                <p class="card-text">Checkout our saltwater fish!</p>
                <a asp-controller="Product" asp-action="SaltWaterFish"><img class="card-img-top" src="https://theaquarium.club/images/hawk-fish.jpg" alt="Card image cap"></a>

            </div>
        </div>
    </div>
</div>