<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Freshwater Fish</h5>
                <p class="card-text">Checkout our freshwater fish!</p>
                <a asp-area="" asp-controller="Product" asp-action="FreshWaterFish" asp-route-id="1"><img class="card-img-top" src="https://www.fishkeepingworld.com/wp-content/uploads/2018/02/Black-Mollies-1.jpg" alt="Card image cap"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Saltwater Fish</h5>
                <p class="card-text">Checkout our saltwater fish!</p>
                <a asp-area="" asp-controller="Product" asp-action="SaltWaterFish" asp-route-id="2"><img class="card-img-top" src="https://theaquarium.club/images/hawk-fish.jpg" alt="Card image cap"></a>
            </div>
        </div>
    </div>
</div>